# Database
DB_HOST=db
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=auto_ria
DATABASE_URL=postgresql+asyncpg://postgres:postgres@db:5432/auto_ria

# Scheduler
SCRAPE_TIME=00:25
DUMP_TIME=00:30
POSTGRES_CONTAINER=Docker container id where Postgres runs

# Logging
LOG_LEVEL=INFO
LOG_FILE=logs/auto_ria_scraper.log

# Scraper
PAGES=10 # True - all pages or number